@font-face {
  font-family: "PUBG";
  src: url("fonts/PUBG.ttf");
}


h1 {
font-size: 1000%;
text-align: center;
font-family: PUBG;
  margin: 0;
  background-color: white;
  margin-bottom: 10px;

}

img {
  margin: 0;
}
.logo {
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pic {
  height: auto;
  width: 100%;
}

h2 {
  font-size: 200%;
  font-family: PUBG;
  font-style: normal;
  margin: 0 auto;
}

p {
  font-size: 100%;
  font-family: verdana;
  font-style: normal;
  margin: 0;
}

a {
  font-size: 100%;
  font-family: verdana;
  font-style: normal;
}

ul {
  margin: 0;
}

li {
  font-size: 100%;
  font-family: verdana;
  font-style: normal;
}

.item1 {
  min-width: 400px;
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
}

.itm1 {grid-area: main;}

.itm2 {grid-area: right;}

.itm3 {grid-area: main2;}

.itm4 {grid-area: right2;}

.itm5 {grid-area: main3;}

.itm6 {grid-area: right3;}

.itm7 {grid-area: main4;}

.itm8 {grid-area: right4;}

.itm9 {grid-area: main5;}

.itm10 {grid-area: right5;}


body {
  background-image: url(pictures/hovedbilde.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#kropp {
  position: static;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  min-width: 900px;
}
.grider {
  display: grid;
  grid-template-areas:
    'header  header'
    'main  right'
    'main2  right2'
    'main3  right3'
    'main4  right4'
    'main5  right5'
    'footer  footer';

  grid-gap: 10px;
}

@media only screen and (max-width: 650px) {
  #logoBilde{
    width: 100%;
    height: 100%;
  }

  h1{
    font-size: 500%;
  }
  .grider {
  grid-template-areas:
    'header'
    'main'
    'right'
    'main2'
    'right2'
    'main3'
    'right3'
    'main4'
    'right4'
    'main5'
    'right5'
    'footer'
    'footer';
    }

  #kropp {
    min-width: 450px;
  }
}
