


}

body {
  background-image: url("images/pugb3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  List-style-type: none;
}

li {
  display: inline;
  font-size: 250%;
  color: white;
  font-family: sans-serif;

}

iframe {

margin-top: 50px;
margin-left: 30%;

}

.wrapper{
border: 1px #ccc solid;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 5%;
border


}

.wrapper{

background-color: #2b2b2b


}


li{
padding-left: 20px;
padding-right: 20px;


}
A:hover {

  color: #FFFFFF;

 font-weight: bold  }
a {

  text-decoration: none;
}


.liverpool{
padding-right: 20px;
padding-left: 20px;
font-size: 300%;
font-family: sans-serif;
color: white;
background-color: #2b2b2b



}

.liverpool{
  color: #FFFFFF;
text-decoration: none;
  text-align: center;
  width: 200px;
margin: auto;
border: 1px #ccc solid;



}

.liverpool{
text-decoration: none;
color: white;


}
